<% if book_show.favorited_by?(current_user) %>
	<%= link_to book_favorites_path(book_show), method: :delete, remote: true do %>
		<span>❤️</span>
		<%= book_show.favorites.count %>
	<% end %>
<% else %>
	<%= link_to book_favorites_path(book_show), method: :post, remote: true do %>
		<span>♡</span>
		<%= book_show.favorites.count %>
	<% end %>
<% end %>